header
{
    background-color:burlywood;
}
footer
{
    background-color:aqua;
}
main
{
    background-color: beige;    
}
body
{
    background-color:brown;
    margin: 0; padding: 0;
}
h1
{
    margin: 0;
}
h2
{
    margin: 0;
}
h3
{
    margin: 0;
}
hr
{
    margin: 0;
    padding: 0;
}
.wrapper
{
    max-width: 1200 px;
    margin: auto;
    padding: 2rem 2rem 2rem;
}
.footerdown
{
    margin-bottom: 0;
    width: 100%;
    height: 10%;
    position: fixed;
}
nav
{
    display: inline;
}